/* start : global(font, color) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif !important;
    --font1: 'Montserrat', sans-serif;
    --font2: 'Noto Sans KR', sans-serif;
    --blue1: #1b7aff;
    --grey1: #E9E9E9;
    --grey2: #C9C9C9;
    --red1: #FF3E49;
    --green1: #34fde9;
    --green2: #0ba797;
}

body h1 {
    font-family: var(--font1);
    font-size: 1.5rem;
    font-weight: 400;
}
/* end : font */


.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;;
    background-color: rgb(182, 182, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    zoom: 1.3;
}


/* start : login page */
.login {
    width: 560px;
    height: 180px;
    border-radius: 90px;
    margin: 0 auto;
    vertical-align: middle;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login h1 {
    font-weight: 600;
    margin-bottom: 16px;
}

#loginForm input {
    width: 400px;
    height: 50px;
    border: none;
    font-family: var(--font1);
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    color: var(--blue1);
    border-bottom: solid 1px var(--blue1);
}

#loginForm input::placeholder {
    font-family: var(--font1);
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    bottom: -6px;
    color: var(--blue1);
}

#loginForm input:focus {
    outline: none;
    border-bottom: solid 1px var(--blue1);
}

#loginForm input:focus::placeholder {
    color: transparent;
}
/* end : login page */

/* //////////////////////////////////////////////////////////////// */
/* /////////////////// start : app */

.app {
    width: 1000px;
    height: 600px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 38px 50px 50px 50px;
}

/* start : bookmark */
.bookmark {
    display: flex;
    font-size: 0.8rem;
    height: 16px;
    align-items: center;
    margin-bottom: 38px;
}

.bookmark-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 36px;
}

.plus-btn {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: var(--blue1);
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;

    transition-property: width;
    transition-duration: 1s;
}

.plus-btn img {
    width: 16px;    
    height: auto;
    animation-name: fade-in;
    animation-duration: 1s;
}

.plus-form {
    width: 300px;
}

.bookmarkForm {
    display: flex;
    padding: 0px 8px;
    opacity: 0;
}

.visible {
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 2s;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bookmarkForm input:nth-child(1) {
    width: 40%;
}

.bookmarkForm input {
    border: none;
    background-color: transparent;
    outline: none;
    opacity: 1;
    color: white;
}

.bookmarkForm input::placeholder {
    color: white;
    opacity: 50%;
}

.bookmark-title h3 {
    font-family: var(--font1);
    font-weight: 600;
}

.bookmark-close {
    opacity: 1;
    transform: rotate(45deg);
    animation-name: fade-in;
    animation-duration: 2s;
}

/* bookmark list */
.bookmark-list {
    display: flex;
}

.a-bookmark {
    display: flex;
    align-items: center;
    font-weight: 400;
    text-decoration: none;
    margin-right: 8px;
    color: black;
}

.a-bookmark img {
    margin-right: 6px;
}

/* 삭제, 수정 버튼 */
.a-bookmark + div {
    display: flex;
    position: absolute;
    margin-top: 4px;
}
.editBtn, .deleteBtn {
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: var(--grey2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

/* 삭제 */
.deleteBtn {
    transform: rotate(45deg);
    background-color: var(--red1);
    cursor: pointer;
}

.a-bookmark + div button img {
    width: 15px;
}

/* end : bookmark */
/* ///////////start : main/////////// */

.main {
    width: 100%;
    height: 90%;
    /* border: 1px solid rgb(207, 207, 207); */
    display: flex;
}



/* start : 박스 공통 스타일 */
.box {
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 5px #f3f3f3
}

.box h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.box-head {
    margin-bottom: 20px;
}
.box-head hr {
    border: none;
    border-top: 1px dashed rgb(172, 172, 172);
    /* opacity: 50%; */
}
/* end : 박스 공통 스타일 */



/* start : col1 */
.col1 {
    width: 220px;
    height: 100%;
    margin-right: 20px;
}

#greeting {
    height: 140px;
    margin-bottom: 20px;
    text-align: center;
}

#clock {
    height: 90px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#clock .clock-box {
    display: flex;
}

#clock .time {
    width: 61%;
    margin-right: 4px;
}

#quote {
    height: 188px;
    text-align: center;
    font-size: 14px;
}

.quote-body {
    overflow: scroll;
    height: 100px;
    padding: 0px 8px;
}

/* ::-webkit-scrollbar : 스크롤바 전체
::-webkit-scrollbar-thumb : 스크롤 막대
::-webkit-scrollbar-track : 스크롤 막대 외부 */

.quote-body::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

.quote-body::-webkit-scrollbar-thumb {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
    width: 1px;
}

.quote-body::-webkit-scrollbar-track {
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
}

.quote-body p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 1.1rem;
}

.quote-body span {
    font-size: 10px;
    color: grey;
}

/* end : col1 */

/* start : col2 */
.col2 {
    width: 340px;
    height: 100%;
    margin-right: 20px;
}

#to-do {
    height: 100%;
    position: relative;
}

#filter {
    width: 80px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    border-radius: 10px;
}

#filter img {
    position: relative;
    top: -1px;
}

/* start : todoBox */
.todoBox {
    height: 300px;
    padding: 16px 0px;
}

.todo {
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    margin-bottom: 8px;
}

.todo img:nth-last-child(1) {
    cursor: pointer;
    position: relative;
    top: 3px;
}

.checked {
    text-decoration: line-through;
}

.head {
    display: flex;
    align-items: center;
}

.tag-on-list {
    width: auto;
    height: auto;
    font-size: 12px;
    background-color: var(--green1);
    padding: 4px 8px;
    margin-right: 6px;
    border-radius: 10px;
}

/* check button */
.head img {
    margin-right: 16px;
    width: 16px;
    cursor: pointer;
    position: relative;
}


/* end : todoBox */

.add-wrap {
    width: 298px;
    position: absolute;
    bottom: 20px;
    background-color: var(--blue1);
    color: white;
    border-radius: 20px;
    transition: height 2s;
    overflow: hidden;
}

.height1 {
    height: 40px;
    transition: all 1s;
}
.height2 {
    height: 240px;
    transition: all 1s;
}

.add-button {
    height: 40px;
    background-color: transparent;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 298px;
    /* position: absolute;
    bottom: 20px; */
    animation-name: fade-in;
    animation-duration: 1s;
}

.add-button img {
    color: white;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

/* start : addForm */
.addForm {
    background-color: transparent;
    width: 298px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    
    animation-name: fade-in;
    animation-duration: 1s;
}

.close-row {
    display: flex;
    justify-content: end;
}

.close-row img {
    cursor: pointer;
    width: 13px;
    height: auto;
    transform: rotate(45deg);
}

.addForm input {
    border: none;
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
}

.input1 {
    margin-bottom: 15px;
}

.addForm input::placeholder {
    color: white;
    opacity: 50%;
}

#tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

#select {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: var(--green1);
    color: black;
    border: none;
    width: auto;
    height: 30px;
    padding: 0 8px;
    text-align: center;
    vertical-align: mi;
    font-size: 12px;
    border-radius: 15px;
    margin-right: 6px;
    cursor: pointer;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    position: relative;
}

.tag-clicked {
    background-color: var(--green2);
    color: white;
}

#plus-button {
    background-color: #8FBCFF;
    width: auto;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 14px;
}

#plus-button div {
    background-color: #8FBCFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus-button img {
    color: white;
    width: 20px;
    height: auto;
    object-fit:cover;
    margin-right: 8px;
}

.addForm-tag {
    position: absolute;
    top: 72px;
    left: 34px;
    display: flex;
    color: white;
    width: 230px;
    height: 20px;
    object-fit: none;
    background-color: #8FBCFF;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.addForm-tag input::placeholder {
    color: white;
    /* text-align: center; */
    opacity: 50%;
}

.hidden {
    display: none;
    opacity: 0;
}

.addForm-tag input {
    border: none;
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
    margin: 0px;
}

.save-row {
    display: flex;
    justify-content: end;
}

#save-button {
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 0 8px;
    width: 56px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
/* end : col2 */

/* start : col3 */
.col3 {
    width: 300px;
    height: 100%;
}

/* music player */
#player {
    display: none;
}

#music {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* start : musicForm */
.musicForm-close {
    transform: rotate(45deg);
}
/* end : musicForm */

.playlist {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    font-weight: 500;
    height: 150px;
    overflow: scroll;
    font-size: 10px;
}

.playlist::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

.playlist::-webkit-scrollbar-thumb {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
    width: 1px;
}

.playlist::-webkit-scrollbar-track {
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
}

.music-wrap {
    padding: 4%;
}

.a-music {
    display: flex;
    align-items: center;
    height: 45px;
    cursor: pointer;
}


.a-music div {
    width: 14%;
    height: 30px;
    background-size: contain;
    background-position: center;
    margin-right: 6%;
    border-radius: 10px;
}

.a-music span {
    width: 70%;
    height: fit-content;
    max-height: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 12px;
}

.a-music .deleteBtn {
    width: 15px;
    height: 15px;
    padding: 2px;
}

.a-music .deleteBtn img {
    width: 12px;
}

.playing {
    background-color: var(--grey1);
    color: #1b7aff;
    font-weight: 600;
    font-size: 12px;
}

.player-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
}


.shuffle, .repeat {
    cursor: pointer;
    width: 15px;
}

.back, .next {
    cursor: pointer;
    width: 18px;
}

.pause {
    cursor: pointer;
    width: 30px;
}

/* weather */
#weather {
    width: 100%;
    height: auto;
}

#weather .wrap {
    padding: 8px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

#weather .row {
    display: flex;
    /* margin-bottom: 21px; */
}

#today {
    margin-bottom: 20px;
}

.row .left {
    width: 38%;
    font-weight: 600;
    line-height: 1.4rem;
}

.row .right {
    width: 60%;
    display: flex;
}

#daily .right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#daily .right div {
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;
}

#daily .right div img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.today-icon {
    margin-right: 12px;
}

.today-info {
    display: flex;
    align-items: center;
}

.today-main {
    font-size: 18px;
    font-weight: 500;
}

.today-icon img {
    width: 45px;
    height: 45px;
}
/* end : col3 */

/* ///////////end : main/////////// */



/* ////////////////// end : app */